<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CustomerConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=H:\Desktop\Database\Customer.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
</configuration>